# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sqlite
MarsRunner/.vs/MarsRunner/v16/.suo
*.db
*.ipch
*.opendb
*.log
*.tlog
*.idb
*.pdb
MarsRunner/MarsRunner/MarsRunner.vcxproj.user
*.ilk
*.sqlite
MarsRunner/MarsRunner/MarsRunner.vcxproj

*.vcxproj
*.sqlite-journal

.vs/ProjectSettings.json
